* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 960px;
  text-align: center;
  margin: 50px auto 10px auto;
}

.header button {
  align-self: flex-end;
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
  border: 5px solid black;
}

.grid-item {
  background-color: white;
  border: 1px solid lightgray;
}
